@import '../../../helpers/variables';
@import '../../../helpers/mixin/_mixin';
#popup-1erdoc {

    #error-password-subscription {
        .error-message {
            margin: 0 auto;
            max-width: 300px;
            font-size: 11px !important;
            text-align: left;
            white-space: nowrap;
            line-height: inherit;
            @media (max-width: 600px) {
                white-space: normal;   
            }
        }
    }

    .checkbox-freetrial {
        padding-top: $spacing-medium;
    }


    .checkbox {
        margin: 0 auto;
        max-width: 450px;
        text-align: left;
        display: inline-block;

        &.block {
            display: block;
        }

        .check {
            border-color: $coral;
            color: $coral;
            &:before {
                color: $coral;
            }
        } 
    }
    
    #freeoffer-popup-container {
        .freetrial-title {
            text-align: center;
            margin-bottom: $spacing-large;
        } 

        .btn-free-container {
            margin: $spacing-medium auto $spacing-large auto;
            .btn {
                padding: 8px 16px;
                font-weight: $bold;
            }
        }
    }

    // Succes reset password
    #succes-reset-password {
        .done-icon {
            i {
                font-size: 75px;
                vertical-align: bottom;
            }
        }
        .explanation {
            &.short {
                max-width: 525px;
                margin: 20px auto 0 auto;
                line-height: inherit !important;
            }

            &.last {
                margin-top: 30px;
                margin-bottom: 25px;
            }
        }
    }
}