
.progress {
    box-shadow: none;
    height: 10px;
    border-radius: 0;
    width: 100%;
    margin-bottom: $spacing-medium;
    &.active {
        background-size: 40px 40px;
        animation: progress-bar-stripes 2s linear infinite;
        background-image: linear-gradient(-45deg, #f2f3f4 0%, #f2f3f4 25%, #e4e2e4 25%, #e4e2e4 50%, #f2f3f4 50%, #f2f3f4 75%, #e4e2e4 75%, #e4e2e4);
    }

    .progress-bar-active {
        animation: none;
        background-image: none;
        background-color: $light-indigo;
    }

    +p {
        color: $grey-01;
    }
}