body {
    background-color: #F2F3F4;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
    position: relative;
    >[class*='col-'] {
        padding-right: 8px;
        padding-left: 8px;
    }
}


@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1152px;
    }
}



#navbar {
    /* width */
    &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $grey-02;
        border-radius: 5px;
    } 
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $grey-02; 
        border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $grey-01;
        cursor: pointer;
    }
}

-moz-::selection {
    @include background-opacity($coral, $opacity: 0.99);
    color: $white;
}
::selection {
    @include background-opacity($coral, $opacity: 0.8);
    color: $white;
}

p {
    word-break: break-word;
}

$sidebar-width: 275px;

///////////////////////
// SIDEBAR////////////
/////////////////////

// SIDEBAR STRUCTURE
.sidebar {
    z-index: 100;
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, 0.05);
    &__container {
        position: fixed;
        height: 100%;
        width: $sidebar-width;
        overflow: auto;
        background-color: $white;
    }
    &__header {
        height: 130px;
        @include flexbox;
        @include align-items(center);
        background-color: $coral;
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
        }
        * {
            margin: 0;
        }
    }
    &__item {
        color: $grey-01;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        list-style: none;
        margin: 0;
    }

    &__title {
        display: block;
        width: 100%;
        padding: $spacing $spacing-large;
        color: $black-02;
        border-bottom: 1px solid #eeeeee;
        font-weight: 700;
        &:hover {
            @include background-opacity($grey-01, 0.1);
            cursor: pointer;
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
            color: $black-02;
        }
    }
}

.sidebar__item {

    p {
        margin: 0;
    }
}

// SIDEBAR DROPDOWN
.dropdown {
    &__link {
        display: block;
        padding: $spacing $spacing-large;
        color: $black;
        text-transform: initial;
        position: relative;
        &:hover,
        &:focus {
            @include background-opacity($grey-01, 0.1);
            cursor: pointer;
            text-decoration: none;
        }
    }
}

// SOON State
.soon {
    color: $grey-02;
    .soon-tag {
        background-color: $mint;
        color: $white;
        width: auto;
        padding: 3px $spacing-small;
        font-size: 10px;
        border-radius: 20px;
        margin-left: $spacing;
        font-weight: $bold; 
    }
    
    &:hover, &:focus {
        color: $grey-02;
    }

    h2, h5 {
        opacity: 0.7;
    }

    &__text {
        text-align: center;
        font-weight: $bold;
        font-size: 18px;
        color: $black;

        i {
            color: $coral;
            font-size: 45px;
            text-align: center;
        }
    }

    .section__content {
        position: relative;
        overflow: hidden;
        * {
            
            filter: blur(1.5rem);
        }
        &::before {
            content: 'Bient\00F4t disponible';
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            font-size: 20px;
            color: $black;
            padding: 0 5px 0 0;
            text-align: center;
            font-weight: $bold;
            
        }
    }
}

//////////////////////////////////////////
// END DROPODWN
/////////////////////////////////////////
// Responsive nav
.menu-button {
    display: none;
    z-index: 100;
    position: fixed;
    left: calc(5% + 15px);
    top: $spacing-medium;
    width: 60px;
    height: 60px;
    background-color: $coral;
    color: $white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

//////////////////////
// CONTENT
/////////////////////
.content {
    margin-top: 0;
    margin-left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    padding: $spacing-medium;
    @media (max-width: 992px) {
        margin-left: auto
    }
    .subtitle {
        color: $grey-01;
    }
    .section {
        &__container {
            position: relative;
            margin-bottom: 75px;
            pre {
                /* Firefox 4+ */
                -moz-tab-size: 0;
                /* Opera 11.5 & 12.1 only */
                -o-tab-size: 0;
                /* Chrome 21+, Safari 6.1+, Opera 15+ */
                tab-size: 0;
                color: $white;
                background-color: $black-02;
                padding: 0;
            }
            
            code {
                padding: $spacing;
                background-color: $black-02;
                white-space: inherit;
                display: inline-block;
            }

        }
        &__content {
            margin: $spacing-large 0;
            background-color: $white;
            box-shadow: 0 1px 2px 0 rgba(46, 62, 79, 0.1);
            padding: $spacing-large;
            border-radius: 10px;

            .nav-tabs {
                margin-bottom: 20px;
                -webkit-transition: none;
                transition: none;
                > li {
                    > a {
                        color: $black;
                        background-color: transparent;
                        &:hover {
                            border: 1px solid transparent;
                        }
                    }
                    &.active {
                        margin-bottom: 0px;
                        > a {
                            background-color: transparent;
                            position: relative;
                            border-left: 0;
                            border-top: 0;
                            border-right: 0;
                            color: $coral;
                            &:after {
                                content: " ";
                                position: absolute;
                                display: block;
                                height: 5px;
                                width: 100%;
                                bottom: -5px;
                                left: 0;
                                background: $coral;
                                border-radius: 5px;
                            }

                            &:hover {
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
            h2 {
                color: $black;
            }
            h3 {
                margin-top: $spacing-medium;
                margin-bottom: $spacing-medium; 
            }
        }
    }
}

.title-minisection {
    color: $storm;
    border-bottom: 1px solid $storm;
}

.color-block { 
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 40px;
    padding-top: 120px;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    transition: .3s transform cubic-bezier(0.25, 0.1, 0.25, 1),.3s box-shadow cubic-bezier(0.25, 0.1, 0.25, 1);
    font-smoothing: antialiased !important;

    &:hover {
        cursor: pointer;
        transform: translateY(-4px) scale(1.06);
        -webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1), 0 0 1px 0 rgba(0,0,0,.25);
        box-shadow: 0 4px 25px 0 rgba(0,0,0,.1), 0 0 1px 0 rgba(0,0,0,.25);

        .overlay {
            opacity: 1;
            z-index: 10;
        }
    }

    .color-info {
        background-color: rgba(0, 0, 0, .1);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #fff;
        display: block;
        font-size: 13px;
        line-height: 22px;
        margin: 0 -20px -20px;
        padding: 20px;
        &--black {
            color: $black;
            background-color: rgba(0, 0, 0, .03);
        }
        strong {
            display: block;
        }
        span {
            text-transform: uppercase;
            display: block;
        }
    }
    // Scss loop to generate bg color on color-block
    // List of all colors in a single var
    $colors: (
        coral: $coral, dark-coral: $dark-coral, storm: $storm, indigo: $indigo, dark-indigo: $dark-indigo, light-indigo: $light-indigo, woman : $women-color, man: $men-color, tropic: $tropic, yellow: $yellow, lagoon: $lagoon, mint: $mint, fresh-mint: $fresh-mint, grey-01: $grey-01, grey-02: $grey-02, grey-03: $grey-03, grey-04: $grey-04, grey-05: $grey-05, black: $black, black-02: $black-02, white: $white
    );
    // Loop over list of colors in "colors" variable
    @each $color-name,
    $color-hexa in $colors {
        &.#{"" + $color-name} {
            background-color: $color-hexa;
        }
    }
}

.font__container {
    .icon-card {
        font-size: 35px;
        background-color: $white;
        width: 100%;
        text-align: center;
        padding: 30px 30px 105px 30px;
        box-shadow: 0 1px 2px 0 rgba(46, 62, 79, 0.1);
        border-radius: 0.4rem;
        margin-bottom: 40px;
        border-radius: 10px;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
        transition: .3s transform cubic-bezier(0.25, 0.1, 0.25, 1),.3s box-shadow cubic-bezier(0.25, 0.1, 0.25, 1);
        &:hover {
            transform: scale(1.06);
            cursor: pointer;
        }
        &__footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            top: initial;
            bottom: 0;
            width: 100%;
            left: 0;
            pre {
                @include flexbox;
                @include align-items(center);
                margin-bottom: 0;
                min-height: 75px;
                word-break: break-all;
                word-wrap: break-word;
                border-width: 0px;
                @include border-radii(0, 0, 4px, 4px );
            }

            code {
                width: 100%;
                white-space: pre-wrap;
            }
        }
    }
}

.item {
    &__title {
        font-weight: $bold;
        font-size: 15px;
    }

    &__subtitle {
        font-weight: $bold;
        font-size: 15px;
    }
    
    &__block {
        padding: 35px $spacing-large;

        &--small {
            padding: $spacing 0;
        }
        //color bg
        &--coral {
            background-color: $coral;
        }

        &--indigo {
            background-color: $indigo;
        }

        &--dark-indigo {
            background-color: $dark-indigo;
        }

        &--storm {
            background-color: $storm; 
        }

        &--login {
            background-color: rgba(34, 34, 85, 0.96);
            color: $white;
            padding: $spacing;
        }
    }
}

.cta-container {
    a, button {
        margin: $spacing $spacing $spacing 0;
    }
}

.btn-payment {
    margin-top: 0;
    margin: 0;
}

.container-fluid {
    @media (min-width: 992px) {
        width: calc(970px - #{$sidebar-width});
    }
    @media (min-width: 1200px) {
        width: calc(1170px - #{$sidebar-width});
    }
}

.beaucarnot-section-container {
    padding: 10px 0;
}

.bloc-departement {
    width: 90%;
    margin: 0 auto;
    .carousel-departement {
        position: relative;
        a {
            left: -34px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 100;

            + a {
                left: auto;
                right: -34px;
                z-index: 100;
            }

            i {
                color: $grey-01;
                font-size: 50px;
            }
        }
    }
}

.stack {
    &:hover {
        .stack__item {
            img {
                opacity: 0.2;
                transform: scale(0.5);

            }
        }
    }
    
    p {
        display: none;
    }
    .stack__item {
        width: 100%;
        padding: $spacing-large 0;

        &:hover {
            img {
                transform: scale(1.60);
                transition: .3s transform cubic-bezier(0.25, 0.1, 0.25, 1); 
                opacity: 1;
            } 

            p {
                display: block;
            }
        }

        img {
            transition: .3s transform cubic-bezier(0.25, 0.75, 0.1, 1); 
            width: 65px;
            padding: 0 $spacing;
            margin: 0 auto;
            display: block;
            opacity: 1;
        }
    }
}

// responsive
@media (max-width: 768px) {
    .content {
        width: 90%;
        margin: 0 auto;
        padding-top: 100px;
    }
    .sidebar {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .sidebar {
        display: none;
        &__container {
            position: fixed;
            height: 100%;
            width: 0;
            overflow: auto;
            background-color: $white;
        }
        &.visible {
            display: block;
            width: $sidebar-width;
        }
    }
}

.input-simple {
    position: relative;
}

.faux-input {
    width: 100%;
}

.toggle-flipp {
    display: block;
}

.btn-flipper {
    display: inline-block;
}
// Add new style related to styleguide here because of the watch SCSS who is to slow when a change is made on general style

///////////////////////////
// useful-classnames.scss//
//////////////////////////

// Text color
.text-coral {
    color: $coral;
}

// Bg
.bg-storm {
    background-color: $storm;
}

// Padding
.p-5 {
    padding: $spacing-small;
}

.p-10 {
    padding: $spacing;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #33333373;

    .text {
        position: absolute;
        @include transform(translate(-50%, -50%));
        top: 50%;
        left: 50%;
        font-size: 14px;
        text-align: center;
    }
}

.mCustomScrollbar {
    &.dropdown-menu {
        max-height: 200px;
        max-width: 245px;
    }
}